body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Set a default background color */
    transition: background-color 0.5s;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .canvas {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    color: #333;
  }
  
  .button {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
  }
  
  #grey {
    background-color: grey;
  }
  
  #white {
    background-color: #fff;
  }
  
  #blue {
    background-color: blue;
  }
  
  #yellow {
    background-color: yellow;
  }
  
  h2 {
    margin-top: 20px;
    color: #333;
  }
  
  span {
    font-weight: bold;
  }
  